@import url("https://fonts.googleapis.com/css?family=Inter:200,600,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,600,900&display=swap");
@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/Proxima-Nova-Semibold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/proximanova_regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}